h1 {
    text-align: center
}
p {
    text-align: center
}
body {
    background-color: black;
    color: chartreuse ;
    font-family: inherit;
    font-size: 20px;
}
label {
    text-decoration: underline;
    text-decoration-color: aqua;
}
.tituloprincipal {
    border: 3px double yellow;
}
#tituloindex {
    background-color: chartreuse;
    color: white
}

